# Naive bayes(Salary dataset)

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [2]:
#train dataset
df_train=pd.read_csv('SalaryData_Test.csv.crdownload')

In [3]:
df_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,34,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Male,0,0,40,United-States,<=50K
12505,17,Private,10th,6,Married-spouse-absent,Other-service,Other-relative,White,Male,0,0,40,United-States,<=50K
12506,45,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
12507,31,Private,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
12508,54,Local-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,Black,Female,0,0,55,United-States,NaN

In [4]:
df1_train = df_train.drop_duplicates()
df1_train
import warnings
warnings.filterwarnings('ignore')

In [5]:
df1_train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  11867.000000  11867.000000  11867.000000  11867.000000  11867.000000
mean      39.095980     10.119828   1184.759922     94.406168     41.028988
std       13.446938      2.599894   8028.647500    417.932939     12.300661
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       38.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [6]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df1_train['workclass']= label_encoder.fit_transform(df1_train['workclass']) 
df1_train['education']= label_encoder.fit_transform(df1_train['education'])
df1_train['maritalstatus']= label_encoder.fit_transform(df1_train['maritalstatus'])
df1_train['occupation']= label_encoder.fit_transform(df1_train['occupation'])
df1_train['relationship']= label_encoder.fit_transform(df1_train['relationship'])
df1_train['race']= label_encoder.fit_transform(df1_train['race'])
df1_train['sex']= label_encoder.fit_transform(df1_train['sex'])
df1_train['native']= label_encoder.fit_transform(df1_train['native'])
df1_train['Salary']= label_encoder.fit_transform(df1_train['Salary'])

In [7]:
df1_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,20,2,11,9,4,11,3,4,0,0,0,30,37,0
12504,34,2,15,10,0,0,4,4,1,0,0,40,37,0
12505,17,2,0,6,3,7,2,4,1,0,0,40,37,0
12506,45,2,9,13,2,3,0,4,1,0,0,45,37,1
12508,54,1,15,10,2,0,5,2,0,0,0,55,37,2

In [8]:
df1_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11867 entries, 0 to 12508
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            11867 non-null  int64
 1   workclass      11867 non-null  int32
 2   education      11867 non-null  int32
 3   educationno    11867 non-null  int64
 4   maritalstatus  11867 non-null  int32
 5   occupation     11867 non-null  int32
 6   relationship   11867 non-null  int32
 7   race           11867 non-null  int32
 8   sex            11867 non-null  int32
 9   capitalgain    11867 non-null  int64
 10  capitalloss    11867 non-null  int64
 11  hoursperweek   11867 non-null  int64
 12  native         11867 non-null  int32
 13  Salary         11867 non-null  int32
dtypes: int32(9), int64(5)
memory usage: 973.5 KB

In [9]:
#testing datset
df_test = pd.read_csv('SalaryData_Test.csv.crdownload')
df_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12504,34,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Male,0,0,40,United-States,<=50K
12505,17,Private,10th,6,Married-spouse-absent,Other-service,Other-relative,White,Male,0,0,40,United-States,<=50K
12506,45,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
12507,31,Private,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
12508,54,Local-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,Black,Female,0,0,55,United-States,NaN

In [10]:
df1_test = df_test.drop_duplicates()
df1_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12503,20,Private,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,0,30,United-States,<=50K
12504,34,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Male,0,0,40,United-States,<=50K
12505,17,Private,10th,6,Married-spouse-absent,Other-service,Other-relative,White,Male,0,0,40,United-States,<=50K
12506,45,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
12508,54,Local-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,Black,Female,0,0,55,United-States,NaN

In [11]:
#Label Encoding
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df1_test['workclass']= label_encoder.fit_transform(df1_test['workclass']) 
df1_test['education']= label_encoder.fit_transform(df1_test['education'])
df1_test['maritalstatus']= label_encoder.fit_transform(df1_test['maritalstatus'])
df1_test['occupation']= label_encoder.fit_transform(df1_test['occupation'])
df1_test['relationship']= label_encoder.fit_transform(df1_test['relationship'])
df1_test['race']= label_encoder.fit_transform(df1_test['race'])
df1_test['sex']= label_encoder.fit_transform(df1_test['sex'])
df1_test['native']= label_encoder.fit_transform(df1_test['native'])
df1_test['Salary']= label_encoder.fit_transform(df1_test['Salary'])

In [12]:
df1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11867 entries, 0 to 12508
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            11867 non-null  int64
 1   workclass      11867 non-null  int32
 2   education      11867 non-null  int32
 3   educationno    11867 non-null  int64
 4   maritalstatus  11867 non-null  int32
 5   occupation     11867 non-null  int32
 6   relationship   11867 non-null  int32
 7   race           11867 non-null  int32
 8   sex            11867 non-null  int32
 9   capitalgain    11867 non-null  int64
 10  capitalloss    11867 non-null  int64
 11  hoursperweek   11867 non-null  int64
 12  native         11867 non-null  int32
 13  Salary         11867 non-null  int32
dtypes: int32(9), int64(5)
memory usage: 973.5 KB

In [13]:
#Applying Train and Test split on Salary Dataset:
x_train = df1_train.iloc[:,0:13]
y_train = df1_train.iloc[:,-1]

In [14]:
x_test = df1_test.iloc[:,0:13]
y_test = df1_test.iloc[:,-1]

In [15]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((11867, 13), (11867,), (11867, 13), (11867,))

In [16]:
#Naive Bayes Classification :
#1. MultinomialNB
# Preparing a Multinomial naive bayes model on training data set 
from sklearn.naive_bayes import MultinomialNB as MB    # Multinomial Naive Bayes

In [17]:
clf=MultinomialNB()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.07777871408106514

In [18]:
y_pred=clf.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.49      0.03      0.06      8924
           1       0.62      0.21      0.32      2942
           2       0.00      1.00      0.00         1

    accuracy                           0.08     11867
   macro avg       0.37      0.42      0.13     11867
weighted avg       0.52      0.08      0.13     11867

In [19]:
#2.CategoricalNB
# Preparing a Categorical naive bayes model on training data set 
from sklearn.naive_bayes import CategoricalNB as CNB
classifier_cnb = CNB()
classifier_cnb.fit(x_train,y_train)

CategoricalNB()

In [20]:
# Model Accuracy on train set
train_pred_cnb = classifier_cnb.predict(x_train)
accuracy_train_cnb = np.mean(train_pred_cnb==y_train)

In [21]:
# Model Accuracy on test set
test_pred_cnb = classifier_cnb.predict(x_train)
accuracy_test_cnb = np.mean(test_pred_cnb==y_train)

In [22]:
accuracy_train_cnb

0.8543861127496418

In [23]:
accuracy_test_cnb

0.8543861127496418

In [24]:
#3. GaussianNB
# Preparing a Gaussian naive bayes model on training data set 
from sklearn.naive_bayes import GaussianNB as GB
classifier_gb = GB()
classifier_gb.fit(x_train,y_train)

GaussianNB()

In [25]:
# Model Accuracy on train set
train_pred_g = classifier_gb.predict(x_train)
accuracy_train_g = np.mean(train_pred_g==y_train)

In [26]:
# Model Accuracy on test set
test_pred_g = classifier_gb.predict(x_train)
accuracy_test_g = np.mean(test_pred_g==y_train)

In [27]:
accuracy_train_g

0.7940507289121093

In [28]:
accuracy_train_g

0.7940507289121093